<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>__yaoming_fa.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yaofa</string>
			</array>
			<key>Name</key>
			<string>__yaoming_fa</string>
		</dict>
		<key>__gasphand.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:gasphand</string>
			</array>
			<key>Name</key>
			<string>__gasphand</string>
		</dict>
		<key>__gs.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:gs</string>
			</array>
			<key>Name</key>
			<string>__gs</string>
		</dict>
		<key>__live.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:live</string>
			</array>
			<key>Name</key>
			<string>__live</string>
		</dict>
		<key>__nono.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:nono</string>
			</array>
			<key>Name</key>
			<string>__nono</string>
		</dict>
		<key>__freddie_win.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fmwin</string>
			</array>
			<key>Name</key>
			<string>__freddie_win</string>
		</dict>
		<key>__mgs.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:mgs</string>
			</array>
			<key>Name</key>
			<string>__mgs</string>
		</dict>
		<key>__isee.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:isee</string>
			</array>
			<key>Name</key>
			<string>__isee</string>
		</dict>
		<key>__dontsay.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:dontsay</string>
			</array>
			<key>Name</key>
			<string>__dontsay</string>
		</dict>
		<key>__yaoming_right.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yaor</string>
			</array>
			<key>Name</key>
			<string>__yaoming_right</string>
		</dict>
		<key>gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:gasp</string>
			</array>
			<key>Name</key>
			<string>gasp</string>
		</dict>
		<key>steve.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:steve</string>
			</array>
			<key>Name</key>
			<string>steve</string>
		</dict>
		<key>newspaperguy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:np</string>
			</array>
			<key>Name</key>
			<string>newspaperguy</string>
		</dict>
		<key>tongue.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:tongue</string>
			</array>
			<key>Name</key>
			<string>tongue</string>
		</dict>
		<key>megusta.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:mg</string>
			</array>
			<key>Name</key>
			<string>megusta</string>
		</dict>
		<key>fullpanel.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fff</string>
			</array>
			<key>Name</key>
			<string>fullpanel</string>
		</dict>
		<key>down.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:down</string>
			</array>
			<key>Name</key>
			<string>down</string>
		</dict>
		<key>excitedtroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:et</string>
			</array>
			<key>Name</key>
			<string>excitedtroll</string>
		</dict>
		<key>PFFFTCCHCHCHHFFFTTT.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:pff</string>
			</array>
			<key>Name</key>
			<string>PFFFTCCHCHCHHFFFTTT</string>
		</dict>
		<key>gaytroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:gay</string>
			</array>
			<key>Name</key>
			<string>gaytroll</string>
		</dict>
		<key>lod.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:lod</string>
			</array>
			<key>Name</key>
			<string>lod</string>
		</dict>
		<key>wut.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:wut</string>
			</array>
			<key>Name</key>
			<string>wut</string>
		</dict>
		<key>foreveralone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fa</string>
			</array>
			<key>Name</key>
			<string>foreveralone</string>
		</dict>
		<key>cereal.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:cereal</string>
			</array>
			<key>Name</key>
			<string>cereal</string>
		</dict>
		<key>mouthopen.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:mouthopen</string>
			</array>
			<key>Name</key>
			<string>mouthopen</string>
		</dict>
		<key>dance.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:dance</string>
			</array>
			<key>Name</key>
			<string>dance</string>
		</dict>
		<key>fapfap.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fap</string>
			</array>
			<key>Name</key>
			<string>fapfap</string>
		</dict>
		<key>LOLnotext.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:lol</string>
			</array>
			<key>Name</key>
			<string>LOLnotext</string>
		</dict>
		<key>notbad.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:notbad</string>
			</array>
			<key>Name</key>
			<string>notbad</string>
		</dict>
		<key>smirk.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:smirk</string>
			</array>
			<key>Name</key>
			<string>smirk</string>
		</dict>
		<key>yaoming.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yao</string>
			</array>
			<key>Name</key>
			<string>yaoming</string>
		</dict>
		<key>milk.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:milk</string>
			</array>
			<key>Name</key>
			<string>milk</string>
		</dict>
		<key>melvin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:m</string>
			</array>
			<key>Name</key>
			<string>melvin</string>
		</dict>
		<key>trolldad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:tdad</string>
			</array>
			<key>Name</key>
			<string>trolldad</string>
		</dict>
		<key>sadtroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:st</string>
			</array>
			<key>Name</key>
			<string>sadtroll</string>
		</dict>
		<key>herpderp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:herp</string>
			</array>
			<key>Name</key>
			<string>herpderp</string>
		</dict>
		<key>problem.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:t</string>
			</array>
			<key>Name</key>
			<string>problem</string>
		</dict>
		<key>feelsgood.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fg</string>
			</array>
			<key>Name</key>
			<string>feelsgood</string>
		</dict>
		<key>what.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:what</string>
			</array>
			<key>Name</key>
			<string>what</string>
		</dict>
		<key>awesome.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:awesome</string>
			</array>
			<key>Name</key>
			<string>awesome</string>
		</dict>
		<key>wasted.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:wasted</string>
			</array>
			<key>Name</key>
			<string>wasted</string>
		</dict>
		<key>upvote.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:up</string>
			</array>
			<key>Name</key>
			<string>upvote</string>
		</dict>
		<key>lied.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:lie</string>
			</array>
			<key>Name</key>
			<string>lied</string>
		</dict>
		<key>iamdisappointed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:disappoint</string>
			</array>
			<key>Name</key>
			<string>iamdisappointed</string>
		</dict>
		<key>highexpectations.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:he</string>
			</array>
			<key>Name</key>
			<string>highexpectations</string>
		</dict>
		<key>determined.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:determined</string>
			</array>
			<key>Name</key>
			<string>determined</string>
		</dict>
		<key>staredad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:sd</string>
			</array>
			<key>Name</key>
			<string>staredad</string>
		</dict>
		<key>happy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:happy</string>
			</array>
			<key>Name</key>
			<string>happy</string>
		</dict>
		<key>awyeah.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ay</string>
			</array>
			<key>Name</key>
			<string>awyeah</string>
		</dict>
		<key>friends.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:friends</string>
			</array>
			<key>Name</key>
			<string>friends</string>
		</dict>
		<key>rage2.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:rage</string>
			</array>
			<key>Name</key>
			<string>rage2</string>
		</dict>
		<key>racket.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:racket</string>
			</array>
			<key>Name</key>
			<string>racket</string>
		</dict>
		<key>waterbottle.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:act</string>
			</array>
			<key>Name</key>
			<string>waterbottle</string>
		</dict>
		<key>stfi.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:stfi</string>
			</array>
			<key>Name</key>
			<string>stfi</string>
		</dict>
		<key>yam.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yam</string>
			</array>
			<key>Name</key>
			<string>yam</string>
		</dict>
		<key>BadPokerFace.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:badpoker</string>
			</array>
			<key>Name</key>
			<string>BadPokerFace</string>
		</dict>
		<key>sweaty.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:sw</string>
			</array>
			<key>Name</key>
			<string>sweaty</string>
		</dict>
		<key>somuchwin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:win</string>
			</array>
			<key>Name</key>
			<string>somuchwin</string>
		</dict>
		<key>closeenough.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ce</string>
			</array>
			<key>Name</key>
			<string>closeenough</string>
		</dict>
		<key>pickle.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:pickle</string>
			</array>
			<key>Name</key>
			<string>pickle</string>
		</dict>
		<key>YUNO.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:yuno</string>
			</array>
			<key>Name</key>
			<string>YUNO</string>
		</dict>
		<key>ohno.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ohno</string>
			</array>
			<key>Name</key>
			<string>ohno</string>
		</dict>
		<key>redeyes.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:redeyes</string>
			</array>
			<key>Name</key>
			<string>redeyes</string>
		</dict>
		<key>disgusted.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:disgust</string>
			</array>
			<key>Name</key>
			<string>disgusted</string>
		</dict>
		<key>sadmelvin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:sadm</string>
			</array>
			<key>Name</key>
			<string>sadmelvin</string>
		</dict>
		<key>ewbte.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ewbte</string>
			</array>
			<key>Name</key>
			<string>ewbte</string>
		</dict>
		<key>sidemouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:side</string>
			</array>
			<key>Name</key>
			<string>sidemouth</string>
		</dict>
		<key>baww.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:baww</string>
			</array>
			<key>Name</key>
			<string>baww</string>
		</dict>
		<key>ChallengeAccepted.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ca</string>
			</array>
			<key>Name</key>
			<string>ChallengeAccepted</string>
		</dict>
		<key>mad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:mad</string>
			</array>
			<key>Name</key>
			<string>mad</string>
		</dict>
		<key>suspicious.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:susp</string>
			</array>
			<key>Name</key>
			<string>suspicious</string>
		</dict>
		<key>whywithhands.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:why</string>
			</array>
			<key>Name</key>
			<string>whywithhands</string>
		</dict>
		<key>thoughtful.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:th</string>
			</array>
			<key>Name</key>
			<string>thoughtful</string>
		</dict>
		<key>hehehe.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:hehehe</string>
			</array>
			<key>Name</key>
			<string>hehehe</string>
		</dict>
		<key>cerealspitting.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:spit</string>
			</array>
			<key>Name</key>
			<string>cerealspitting</string>
		</dict>
		<key>aintthatsomeshit.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:aint</string>
			</array>
			<key>Name</key>
			<string>aintthatsomeshit</string>
		</dict>
		<key>newspaperguytear.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:newstear</string>
			</array>
			<key>Name</key>
			<string>newspaperguytear</string>
		</dict>
		<key>jackiechan.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:jc</string>
			</array>
			<key>Name</key>
			<string>jackiechan</string>
		</dict>
		<key>derp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:derp</string>
			</array>
			<key>Name</key>
			<string>derp</string>
		</dict>
		<key>GTFO.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:gtfo</string>
			</array>
			<key>Name</key>
			<string>GTFO</string>
		</dict>
		<key>openmouth.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:openmouth</string>
			</array>
			<key>Name</key>
			<string>openmouth</string>
		</dict>
		<key>datash.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:datash</string>
			</array>
			<key>Name</key>
			<string>datash</string>
		</dict>
		<key>itsnotokay.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:notok</string>
			</array>
			<key>Name</key>
			<string>itsnotokay</string>
		</dict>
		<key>high.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:high</string>
			</array>
			<key>Name</key>
			<string>high</string>
		</dict>
		<key>pokerface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:poker</string>
			</array>
			<key>Name</key>
			<string>pokerface</string>
		</dict>
		<key>biggrin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:grin</string>
			</array>
			<key>Name</key>
			<string>biggrin</string>
		</dict>
		<key>fuckyea.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fyea</string>
			</array>
			<key>Name</key>
			<string>fuckyea</string>
		</dict>
		<key>fffuuu.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:fuuu</string>
			</array>
			<key>Name</key>
			<string>fffuuu</string>
		</dict>
		<key>shocked.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:sh</string>
			</array>
			<key>Name</key>
			<string>shocked</string>
		</dict>
		<key>cochran.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:cochran</string>
			</array>
			<key>Name</key>
			<string>cochran</string>
		</dict>
		<key>truestory.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ts</string>
			</array>
			<key>Name</key>
			<string>truestory</string>
		</dict>
		<key>dudecomeon.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:dude</string>
			</array>
			<key>Name</key>
			<string>dudecomeon</string>
		</dict>
		<key>okay.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ok</string>
			</array>
			<key>Name</key>
			<string>okay</string>
		</dict>
		<key>underbite.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:ub</string>
			</array>
			<key>Name</key>
			<string>underbite</string>
		</dict>
		<key>babytroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:baby</string>
			</array>
			<key>Name</key>
			<string>babytroll</string>
		</dict>
		<key>retarddog.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:dog</string>
			</array>
			<key>Name</key>
			<string>retarddog</string>
		</dict>
		<key>kidding.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:kidding</string>
			</array>
			<key>Name</key>
			<string>kidding</string>
		</dict>
		<key>no.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:no</string>
			</array>
			<key>Name</key>
			<string>no</string>
		</dict>
	</dict>
</dict>
</plist>
